html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 22px;
    overflow-x: hidden;
}

h2 {
  font-size: 1.5rem;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.logo {
  height: 50px;
  width: auto;
  margin-right: 20px;
}





section {
  padding: 80px 0;
}

header {
  background-image: url(src/img/hero.jpg);
  background-image: url(/src/img/hero.jpg);
  background-size: cover;
  background-position: center;
  width: auto;
  height: 100vh;
  background-attachment: fixed;
}

.hero-text-box {
  position: absolute;
  width: 1140px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.about-photo {
  width: 100%;
  height: auto;
}

.chinese-copy {
  font-size: 20px;
}

